*{
	padding:0;margin: 0;
	//font-family:  "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}

input,button,select,textarea{outline:none;border: none;background: white} textarea{resize:none}
select,textarea,option{color:#666666;}
ul{list-style: none;font-size: 0.24rem}
a{text-decoration: none;}

body{
	color: #666 ;width: 100%;
}

/*模拟的sildeDown*/
/*!!!!! 很难控制 加上 overflow:hidden 就好了!!!!*/
.slideBox{
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: height 0.5s,opacity 0.3s;
	height: 0rem;
}
.slideBox>ul{
	width: 100%;
	/*position: absolute;*/
	/*left: 0;bottom: 0;*/
}
.slideBox>ul li{width: 100%}
/*模拟slideDown结束*/


html,body,#appWrapper,#app{
    width: 100%;height: 100%;
}
header{
	width: 100%;height: 1rem;line-height: 1rem;
	position: relative;
}
#main{
	width:100%;height: calc(100% - 1rem);
	position: relative;
	overflow: auto;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
// width: 1px;
display: none;
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  







